<div {{ attributes }}>

    {{ form_start(form) }}
    <div class="col-md-6 col-xxl-5">
        {{ form_widget(form) }}
    </div>

    <button class="btn btn-primary">Ajouter le projet</button>
    {{ form_end(form) }}
</div>
