{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}Ajouter un identifiant Gitlab{% endblock %}

{% block main %}
    <div class="alert alert-info mb-3">
        <i class="fas fa-info-circle fa-fw"></i>&nbsp;Pour créer un access token, rendez-vous sur votre compte <strong>Gitlab</strong>,
        puis dans <strong><i class="fas fa-cog fa-fw"></i>&nbsp;Settings</strong> > <strong>Access Tokens</strong>
        et créez un nouveau token avec les permissions <strong>read_api</strong> et <strong>read_repository</strong>, ainsi que le rôle <strong>Reporter</strong>.
    </div>
    {{ parent() }}
{% endblock %}

