{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
    {% if ea is defined and ea is not null %}
        <a class="logo logo-long text-center mb-3" title="Guardian" href="{{ path(ea.dashboardRouteName) }}">
            <img src="{{ asset('imgs/guardian_logo.png') }}" alt="Guardian">
        </a>
    {% else %}
        <div class="logo logo-long text-center mb-3 mt-3">
            <img src="{{ asset('imgs/guardian_logo.png') }}" alt="Guardian">
        </div>
    {% endif %}
{% endblock header_logo %}
