body {
    background: url('../imgs/adventure-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    background-color: rgba(24, 28, 58, 0.75);
}

.card {
    background-color: rgba(24, 28, 58, 0.50);
    color: white;
    border-width: 2px;
    min-height: 160px;
}
