parameters:
    level: 9
    paths:
        - src/
        - bin/
        - config/
        - public/
    disallowedFunctionCalls:
            -
                function:
                    - 'var_dump()'
                    - 'print_r()'
                    - 'dump()'
                    - 'dd()'
                message: 'only allowed for debugging purpose'
    ignoreErrors:
            - identifier: missingType.iterableValue
            - identifier: missingType.generics

    checkMissingTypehints: true
    checkExplicitMixed: true
    checkExplicitMixedMissingReturn: true
    checkInternalClassCaseSensitivity: true
    checkDynamicProperties: true

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
