{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <h5>Affichage des 5 dernières analyses</h5>
    <table class="table">
        <thead>
        <tr>
            <th>Date de début</th>
            <th>Durée</th>
            <th>Grade</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for analysis in field.value|sort((a, b) => b <=> a)|slice(0, 5) %}
            <tr>
                <td>{{ analysis.runAt|date('d/m/y H:i') }}</td>
                <td>{{ analysis.getDurationInSeconds }} sec.</td>
                <td>{{ include('@Admin/field/grade.html.twig', {
                        grade: analysis.grade
                    }) }}
                </td>
                <td> <a href="{{
                        ea_url()
                        .setController('App\\Controller\\Admin\\Crud\\AnalysisCrudController')
                        .setAction('detail')
                        .setEntityId(analysis.id)
                    }}" class="btn btn-sm btn-primary">Visualiser le détail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Valeur impossible à afficher
{% endif %}
