{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# @var project \App\Entity\Project #}
{% set project = entity.instance %}
{% if project.credential.isExpired %}
    <span class="badge badge-danger">
        <i class="fas fa-exclamation-circle fa-fw"></i>&nbsp;
        Identifiants expirés
    </span>
{% else %}
    <span class="badge badge-primary">
        <i class="fas fa-check-circle fa-fw"></i>&nbsp;Connecté
    </span>
{% endif %}

